.global-nav {
    position: fixed;
    right: -320px;
    top: 0;
    width: 300px;
    height: 100vh;
    padding-top: 60px;
    background-color: #fff;
    transition: all .4s;
    z-index: 200;
    overflow-y: auto;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        height: 100px;
        margin: 10px;
        background-color: rgb(180, 180, 180);
        border-radius: 15px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: #111;
        }
    }

    &__item:hover {
        background-color: #eee;
    }

    &__item::before {
        content: none;
    }
}

.hamburger {
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgb(0,0,0);
    border-radius: 50%;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    z-index: 230;

    &__line {
        position: absolute;
        height: 5px;
        width: 25px;
        background: rgb(255, 255, 255);
        transition: all .4s;
    }

    &__line--1 {
        top: 12px;
        left: 13px;
    }

    &__line--2 {
        top: 22px;
        left: 13px;
    }

    &__line--3 {
        top:32px;
        left: 13px;
    }
}

.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    cursor: pointer;
}

.nav-open .global-nav {
    right: 0;
}

.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}

.nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 20px;
}

.nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
}

.nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 20px;
}