.add-btn {
    position: fixed;
    bottom: 90px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    z-index: 150;

    &__line {
        position: absolute;
        height: 5px;
        width: 25px;
        background: rgb(255, 255, 255);
        transition: all .4s;
    }

    &__line--1 {
        top: 22px;
        left: 13px;
    }

    &__line--2 {
        top: 22px;
        left: 13px;
        transform: rotate(90deg);
    }
}

.search {
    width: 90%;
    margin: 1rem auto 0 auto;

    &__container {
        display: flex;
    }

    &__area {
        background-color: rgba(0,0,0,.1);
        flex: 1;
        margin-right: 1rem;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        color: #fff;
    }

    &__category {
        overflow: hidden;
        height: 0;
        justify-content: center;
        align-items: center;
        transition: all .4s;
    }

}

.category {
    width: 100%;

    &__checks {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    &__check {
        width: 44%;

        @include mq(lg) {
            width: 16%;
        }

        label {
            cursor: pointer;
        }
    }

    &__search {
        display: block;
        margin: auto;
    }
}

.thumbnails {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 45%;
        height: 6rem;
        margin: .5rem;
        background-color: gray;

        @include mq(){
            height: 12rem;
        }

        @include mq(lg){
            width: 23%;
        }
    }
}

.active {
    &__line1{
        transform: rotate(45deg);
    }
    &__line2{
        transform: rotate(135deg);
    }
}

.drop {
    position: relative;
    margin: 1rem;
    border: 1px dashed;
    border-radius: 1rem;
    height: 60%;
    padding: 1rem;

    &__preview {
        img {
            width: 100%;
        }
    }

    &__zone {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 1rem;
    }

    &__title {
        display: none;

        @include mq(lg){
            display: block;
        }
    }
}

.modal__category {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 1rem;
}

.category-select {
    width: 24%;

    label {
        cursor: pointer;
    }
}

.search__icon{
    transition: all .4s;
}
.active {
    &__i{
        transform: rotate(-90deg);
    }
}