.header {
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        padding: 0 0 0 20px;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
    }

    &__icon--fa-size {
        font-size: 1.5rem;
    }

}

.bottom-page {
    height: 100%;
    width: 100%;
}

.my-qr { 
    display: flex;
    justify-content: center;
    align-items: center;

    &__code {
        display: flex;
        margin: 0 0 0 4rem;
        width: 50%;
        justify-content: center;
        align-items: center;
        
        &__code--icon {
            justify-items: center;
        }
    }

    &__download {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin: 0 0 0 1rem;
    }
}

.my-user {
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0 0rem 0;
    font-size: 1.1rem;

    &__name {
        margin: 0.15rem 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 2rem;

        @include mq(md) {
            margin: 0.3rem 0.25rem;
            font-size: 1.5rem;
        }
    }

    &__birthday {
        margin: 0.15rem 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 2rem;

        @include mq(md) {
            margin: 0.3rem 0.25rem;
            font-size: 1.5rem;
        }
    }

    &__edit {
        display: flex;
        justify-content: flex-end;
        margin: 0.5rem 0 0 0;
        font-size: 0.8rem;

        @include mq(md) {
            padding-right: 4rem;
            font-size: 1rem;
        }

        @include mq(xl) {
            padding-right: 14rem;
        }

    }
}

.my-clan {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 10px 0;
        @include mq(md) {
            font-size: 1.5rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        border-top: solid 1px black;
        overflow: auto;
        height: auto;
        max-height: 62vh;
        width: 60%;
        align-items: center;
        margin: 0 0 20px 0;
  
        @include mq(md) {
            max-height: 66vh;
        }
        
        &--item {
            display: flex;
            width: 75%;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px black;
            margin: 0.5rem 0;

            @include mq(md) {
                font-size: 1.5rem;
            }
        }
        
    }
}

.item__hover:hover {
    background-color: lightgray;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.out-btn {
    margin: 5px 0;

    @include mq(md) {
        font-size: 1.1rem;
    }

}

.clan-modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    transition: all .4s;

    &__bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
        cursor: pointer;
    }

    &__main {
        max-width: 600px;
        max-height: 720px;
        width: 100%;
        height: 50%;
        border-radius: 1rem;
        background-color: #fff;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        transform: translateY(60px);
        transition: all .4s;
    }
}

.clan-modal__open {
    visibility: visible;

    .clan-modal__bg {
        visibility: visible;
        opacity: .8;
    }

    .clan-modal__main {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

.clan-out {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    &__box {
        display: flex;

        &--item {
            display: flex;
            width: 100%;
            margin: 1rem 1.5rem;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.drop-btn {
    font-size: 1.1rem;

    @include mq(md) {
        font-size: 1.3rem;
    }
}

.not-btn {
    font-size: 1.1rem;

    @include mq(md) {
        font-size: 1.3rem;
    }
}