<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/7a89e754ee.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav id="set-hamburger"></nav>
    <header class="header">
        <div class="header__title">Clan</div>
    </header>

    <main>

        <div class="inner">

            <div class="clan-search">
                    <form action="#" method="POST">
                        <input type="text" class="clan-search__text" name="clan-search__text" placeholder="クラン名を入力" size="28">
                        <input class="main-btn clan-search_btn" type="submit" value="検索">
                    </form>
            </div>

            <div class="result">
                <h2 class="result__title">検索結果</h2>
                <div class="result__list">
                   <div class="result__list--item">クラン１　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン２　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン３　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン４　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン５　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン６　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン７　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン８　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン９　<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン１０<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン１１<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="result__list--item">クラン１２<input class="main-btn in-btn" type="submit" value="加入"></div>
                   <div class="main-btn new-btn">新規作成</div>
                </div>
            </div>

        </div>

    </main>
    <footer id="footer"></footer>
    <script src="js/include.js"></script>
</body>
</html>
