<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="views/css/reset.css">
        <link rel="stylesheet" href="views/css/style.css">
        <script src="https://kit.fontawesome.com/7a89e754ee.js" crossorigin="anonymous"></script>
        <!-- firebase -->
        <script src="/__/firebase/8.0.1/firebase-app.js"></script>
        <script defer src="/__/firebase/8.0.1/firebase-functions.js"></script>
        <script src="/__/firebase/init.js?useEmulator=true"></script>

    </head>

    <body>
        <div class="global-nav">
            <ul class="global-nav__list">
                <li class="global-nav__item"><a href="/my_object">マイオブジェクト</a></li>
                <li class="global-nav__item"><a href="/object_share">オブジェクト共有</a></li>
                <li class="global-nav__item"><a href="/camera">カメラ</a></li>
                <li class="global-nav__item"><a href="/my_page">マイページ</a></li>
                <li class="global-nav__item"><a href="/clan">クラン</a></li>
                <li class="global-nav__item"><a href="/video">ビデオ通話</a></li>
            </ul>
            <a href="/logout" class="global-nav__logout">ログアウト</a>
        </div>
        <div class="hamburger" id="js-hamburger" onclick="hamburgerMove()">
            <div class="hamburger__line hamburger__line--1"></div>
            <div class="hamburger__line hamburger__line--2"></div>
            <div class="hamburger__line hamburger__line--3"></div>
        </div>
        <div class="black-bg" id="js-black-bg" onclick="hamburgerBgRemove()"></div>
        <header class="header">
            <a class="header__back" href="/my_page">
                <div class="search__icon">
                    <span class="icon-line icon-line--line1"></span>
                    <span class="icon-line icon-line--line2"></span>
                </div>
            </a>
            <div class="header__title">Help</div>
        </header>
        <main>
            <div class="inner__help">
                <div class="faq">
                    <h2 class="faq__title">よくあるご質問</h2>
                    <dl class="faq__list">
                        <div class="faq__questions">
                            <div class="faq__icon faq__icon--question">Q</div>
                            <dt class="faq__question">質問1</dt>
                        </div>
                        <div class="faq__ansers">
                            <div class="faq__icon faq__icon--anser">A</div>
                            <dd class="faq__anser">答え1</dd>
                        </div>
                        <div class="faq__questions">
                            <div class="faq__icon faq__icon--question">Q</div>
                            <dt class="faq__question">質問2</dt>
                        </div>
                        <div class="faq__ansers">
                            <div class="faq__icon faq__icon--anser">A</div>
                            <dd class="faq__anser">答え2 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</dd>
                        </div>
                        <div class="faq__questions">
                            <div class="faq__icon faq__icon--question">Q</div>
                            <dt class="faq__question">質問3</dt>
                        </div>
                        <div class="faq__ansers">
                            <div class="faq__icon faq__icon--anser">A</div>
                            <dd class="faq__anser">答え3</dd>
                        </div>
                    </dl>
                </div>

	        <div class="contact">
                    <h2 class="contact__title">お問い合わせ</h2>
                    <form id="form" action="#" method="POST">
                        <div>
                            <h4 class="contact__text">E-mail <span class="contact__required">＊必須</span></h4>
                            <input type='email' class="contact__email" id="email1" placeholder="例) example@gmail.com">
                        </div>
                        <div>
                            <h4 class="contact__text">確認用E-mail <span class="contact__required">＊必須</span></h4>
                            <input type='email' class="contact__email" id="email2" placeholder="例) example@gmail.com">
                        </div>
                        <div>
                            <h4 class="contact__text">お問い合わせ内容</h4>
                            <textarea class="contact__textarea" id="body" name="contact__textarea" cols="50" rows="5"
                            placeholder="お問い合わせの内容を入力してください"></textarea>
                        </div>
                        </table>
                        <!-- お問い合わせを送信するボタン -->
                        <button type="button" name="button" onclick="Aemail()">送信</button>

                        <script type="text/javascript">
                          function Aemail(){
                                console.log("お問い合わせ送信");

                                var mail1 = document.getElementById('email1').value;
                                var mail2 = document.getElementById('email2').value;
                                var body = document.getElementById('body').value;
                              if (mail1 == null || mail1 == "") {

                                  alert("メールアドレスを入力してください")

                              }else if(mail1 == mail2){

                                   var address = encodeURIComponent(functions.config().someservice.address);
                                   var pass  = encodeURIComponent(functions.config().someservice.pass);
                                   Email.send({
                                        Host : "smtp.elasticemail.com",
                                        Username : address,
                                        Password : pass,
                                        To : address,
                                        From : address,
                                        Subject : "テスト",

                                        Body : "  "+mail1+"  "+body

                                    }).then(
                                      message => alert(message)
                                    );
                              }else{

                                alert("メールアドレスが一致しません")

                              }
                            }

                      </script>
                    </form>
                </div>
            </div>
        </main>
        <script>
          // TODO: test

          firebase.initializeApp(firebaseConfig);

          console.dir(firebase)

          console.log(`mailaddress => ${functions.config().someservice.address}`)
        </script>
        <footer id="footer"></footer>
        <script src="views/js/hamburger.js"></script>
    </body>
</html>
