<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="modal js-modal">
        <div class="modal__bg js-bg"></div>
        <div class="modal__main">ここにmodalの中身</div>
    </div>
    <div class="btn js-btn">押して</div>
    <script src="js/modal.js"></script>
</body>
</html>