<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/css/reset.css" type="text/css">
    <link rel="stylesheet" href="views/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/7a89e754ee.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="set-hamburger"></nav>
    <header class="header">
        <a class="header__icon" href="help.html"><i class="header__icon--fa-size far fa-question-circle"></i></a>
        <div class="header__title">My Page</div>
    </header>

    <main>

        <!-- modalのコード -->
        <div class="clan-modal">
            <div class="clan-modal__bg"></div>
            <div class="clan-modal__main">
                <div class="clan-out">
                    <div class="clan-out__box"><h3 class="clan-out__text">クランを脱退しますか？</h3></div>
                    <div class="clan-out__box">
                        <input class="main-btn drop-btn clan-out__box--item" type="submit" value="脱退">
                        <input class="main-btn not-btn clan-out__box--item" type="submit" value="キャンセル">
                    </div>
                </div>
            </div>
        </div>

        <div class="inner">

            <div class="my-qr">
                <div class="my-qr__code"><i class="my-qr__code--icon fas fa-qrcode fa-8x"></i></div>
                <a class="my-qr__download" ><i class="fas fa-download fa-2x"></i></a>
            </div>

            <div class="bottom-page">

                <div class="my-user">
                    <div class="my-user__name">ユーザー名:　
                        <p>ニックネーム表示</p>
                    </div>

                    <div class="my-user__birthday">生年月日:　
                        <p>　生年月日表示</p>
                    </div>

                    <div class="my-user__edit">
                        <a class="main-btn" href="profile.html">設定変更<i class="fas fa-edit"></i></a>
                    </div>

                </div>

                <div class="my-clan">
                    <h3 class="my-clan__title">所属クラン一覧</h3>
                    <div class="my-clan__list">
                        <div class="my-clan__list--item">クラン１　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン２　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン３　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン４　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン５　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン６　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン７　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン８　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン９　<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン１０<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン１１<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン１２<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン１３<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン１４<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン１５<input class="main-btn out-btn" type="submit" value="脱退"></div>
                        <div class="my-clan__list--item">クラン１６<input class="main-btn out-btn" type="submit" value="脱退"></div>
                    </div>

                </div>

            </div>

        </div>
    </main>
    <footer id="footer"></footer>
    <script src="js/include.js"></script>
    <script>
        const outBtn = document.querySelectorAll('.out-btn');
        const clanModal = document.querySelector('.clan-modal');
        const dropBtn = document.querySelector('.drop-btn');
        const notBtn = document.querySelector('.not-btn');
        const clanBg = document.querySelector('.clan-modal__bg');

        outBtn.forEach(btn => {
            btn.addEventListener('click', () => {
                clanModal.classList.toggle('clan-modal__open');
            });
        });

        dropBtn.addEventListener('click', () => {
            clanModal.classList.remove('clan-modal__open');
        });

        notBtn.addEventListener('click', () => {
            clanModal.classList.remove('clan-modal__open');
        });

        clanBg.addEventListener('click', () => {
            clanModal.classList.remove('clan-modal__open');
        });

    </script>
</body>
</html>
