<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/css/reset.css" type="text/css">
    <link rel="stylesheet" href="views/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/7a89e754ee.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="set-hamburger"></nav>
    <header class="header">
        <a class="header__cancel" href="<%= cancel_link_url %>">キャンセル</a> <!-- header__cancel-btn-->
        <div class="header__title">Profile setting</div>
        <a class="header__save header__save-btn" onclick="return sendPost()">保存</a> <!-- header__save-btn-->
    </header>

    <main>
        <div class="inner">

            <div class="my-qr">
                <div class="my-qr__code"><i class="my-qr__code--icon fas fa-qrcode fa-8x"></i></div>
                <div class="my-qr__download"><i class="fas fa-download fa-2x"></i></div>
            </div>

            <div class="bottom-page">

                <form class="my-user" name="my_user_form" action="<% form_action_url %>" method="post">
                    <div class="my-user__name">ユーザー名:　
                        <input type="text" name="_name">
                    </div>

                    <div class="my-user__birthday">生年月日:　
                        <input type="date" name="_date">
                    </div>
                    <div class="my-user__profile-btn">
                        <input type="submit" name="my_user_submit_button" class="save-btn main-btn" value="保存" onclick="return formCheck()"></input>
                        <a class="cancel-btn main-btn" href="<%= cancel_link_url %>">キャンセル</a>
                    </div>
                </from>
            </div>
        </div>
    </main>
    <footer id="footer"></footer>
    <script src="views/js/include.js"></script>
    <script>
      function sendPost() {
        console.log(document.forms.my_user_form.my_user_submit_button);

        let result = document.forms.my_user_form.my_user_submit_button.click();

        return result
      }

      // 入力されているかチェック
      function formCheck() {
        let name = document.forms.my_user_form._name.value;
        let date = document.forms.my_user_form._date.value;

        if(name == "" || date == "") {
          return false;
        } else {
          return true;
        }
      }
    </script>
</body>

</html>
