<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/css/reset.css">
    <link rel="stylesheet" href="views/css/style.css">
    <script src="https://kit.fontawesome.com/7a89e754ee.js" crossorigin="anonymous"></script>
    <script src="/__/firebase/8.0.1/firebase-app.js"></script>
    <script src="/__/firebase/8.0.1/firebase-firestore.js"></script>
    <script src="/__/firebase/init.js"></script>
</head>

<body>
    <nav id="set-hamburger" style="display: none;"></nav>
    <header class="header">
        <!-- <a href="javascript:history.back();" class="header__video-back">
                <div class="search__icon">
                    <span class="icon-line icon-line--line1"></span>
                    <span class="icon-line icon-line--line2"></span>
                </div>
            </a> -->
        <div class="header__name">部屋名</div>
    </header>
    <main class="main">
        <section class="video-area"></section><!-- セレクトボタンが押されて生成 -->

        <!-- マイオブジェクトから共有するmodalのコード -->
        <div class="modal js-modal">
            <div class="modal__bg js-bg"></div>
            <div class="modal__main">
                <div class="my-object-list">
                    <h2 class="my-object-list__title">マイオブジェクト一覧</h2>

                    <!-- マイオブジェクト一覧で選択したときに表示するアコーディオン -->
                    <div class="category__my-object">
                        <!-- 選択中の画像を表示 -->
                        <div class="my-object-list__select my-object-list__select--video"></div>
                        <!-- 選択するボタン -->
                        <div class="my-object-list__decision">
                            <input type="submit" value="マイオブジェクトを選択" class="main-btn my-object-list__submit">
                            <input type="reset" value="キャンセル" class="sub-btn my-object-list__cansel"
                                id="js-category-cansel">
                        </div>
                    </div>

                    <!-- サーバーから取得したマイオブジェクト一覧の画像 -->
                    <ul class="my-object-list__items">
                        <li class="my-object-list__item" id="my-object-list__item1"></li>
                        <li class="my-object-list__item" id="my-object-list__item2"></li>
                        <li class="my-object-list__item" id="my-object-list__item3"></li>
                        <li class="my-object-list__item" id="my-object-list__item4"></li>
                        <li class="my-object-list__item" id="my-object-list__item5"></li>
                        <li class="my-object-list__item" id="my-object-list__item6"></li>
                        <li class="my-object-list__item" id="my-object-list__item7"></li>
                        <li class="my-object-list__item" id="my-object-list__item8"></li>
                        <li class="my-object-list__item" id="my-object-list__item9"></li>
                        <li class="my-object-list__item" id="my-object-list__item10"></li>
                        <li class="my-object-list__item" id="my-object-list__item11"></li>
                        <li class="my-object-list__item" id="my-object-list__item12"></li>
                        <li class="my-object-list__item" id="my-object-list__item13"></li>
                        <li class="my-object-list__item" id="my-object-list__item14"></li>
                        <li class="my-object-list__item" id="my-object-list__item15"></li>
                        <li class="my-object-list__item" id="my-object-list__item16"></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <section class="video-menu">
        <div class="video-menu__object js-btn"><i class="fas fa-images fa-2x"></i>オブジェクト</div>
        <div class="video-menu__mic"><i class="fas fa-microphone-slash fa-2x icon-mic"></i>マイク</div>
        <div class="video-menu__video"><i class="fas fa-video-slash fa-2x icon-video"></i>ビデオ</div>
        <div class="video-menu__end"><a href="/video"><i class="fas fa-sign-out-alt fa-2x"></i>退室</a></div>
    </section>
    <footer id="footer" style="display: none;"></footer>

    <script src="views.js/include.js"></script>
    <script src="views/js/modal.js"></script>
    <script src="views/js/videoActive.js"></script>
    <script>
        const videoArea = document.querySelector('.video-area');
        const videoMenu = document.querySelector('.video-menu');
        const videoBtn = document.querySelector('.video-menu__video');
        const micBtn = document.querySelector('.video-menu__mic');
        const iconVideo = document.querySelector('.icon-video');
        const iconMic = document.querySelector('.icon-mic');

        const videoTwo = ['item1', 'item2'];
        const videoFour = ['item1', 'item2', 'item3', 'item4'];
        let people = videoFour;
        let micFlag = false;
        let videoFlag = false;

        // const people = videoFour; どこかのタイミングで選択された人数を見て判断（ここでは仮に４人としている）

        videoBtn.addEventListener('click', () => {
            iconVideo.classList.toggle('fa-video');
            iconVideo.classList.toggle('fa-video-slash');

            // on/off 切り替え
            videoFlag = !videoFlag;
            console.log(`video switch => ${videoFlag}`);

            // stream を一時中断
            const tracks = document.querySelector('#localVideo').srcObject.getTracks();
            tracks.forEach(track => {
                track.stop();
            })

            // stream を設定通りに再開
            openUserMedia();
        });

        micBtn.addEventListener('click', () => {
            iconMic.classList.toggle('fa-microphone');
            iconMic.classList.toggle('fa-microphone-slash');

            // on/off 切り替え
            micFlag = !micFlag
            console.log(`mic switch => ${micFlag}`);

            // stream を一時中断
            const tracks = document.querySelector('#localVideo').srcObject.getTracks();
            tracks.forEach(track => {
                track.stop();
            })

            // stream を設定通りに再開
            openUserMedia();
        });

        let userWidth = "48%";
        window.onload = function () {
            // iphoneかipadかその他かを確認
            const model = navigator.platform;
            if (model.indexOf("iPhone") != -1) {
                userWidth = "39vh";
            } if (model.indexOf("iPad") != -1) {
                userWidth = "42vh";
            }
            //getパラメータを取得
            var params = (new URL(document.location)).searchParams;
            var queryValue = params.get('people');
            if (queryValue == 4) {
                people = videoFour;
            } else if (queryValue == 2) {
                people = videoTwo;
            }

            // 表示する場所を生成
            videoMenu.style.display = 'flex';

            if (people === videoTwo) {
                videoTwo.forEach(userName => {
                    const user = document.createElement('div');
                    user.classList.add('user');
                    user.id = userName;
                    if (window.matchMedia('(min-width: 1000px)').matches) {
                        user.style.width = '48%';
                        user.style.height = '100%';
                    } else {
                        user.style.width = '100%';
                        user.style.height = userWidth;
                    };

                    const userDisplay = document.createElement('div');
                    userDisplay.classList.add('user__name');
                    userDisplay.appendChild(document.createTextNode(userName));
                    user.appendChild(userDisplay);
                    videoArea.appendChild(user);
                    videoArea.style.display = 'flex';
                });
            } else {
                people.forEach(userName => {
                    const user = document.createElement('div');
                    user.classList.add('user');
                    user.id = userName;
                    user.style.width = '48%';
                    user.style.height = userWidth;

                    const userDisplay = document.createElement('div');
                    userDisplay.classList.add('user__name');
                    userDisplay.appendChild(document.createTextNode(userName));
                    user.appendChild(userDisplay);
                    user.appendChild(userDisplay);

                    videoArea.appendChild(user);
                    videoArea.style.display = 'flex';
                });
            }

            openUserMedia();
        };

        const modalList = document.querySelector('.my-object-list__items');
        const modalTitle = document.querySelector('.my-object-list__title');
        const addBtn = document.querySelector('.js-btn');
        const categorySubmit = document.querySelector('.my-object-list__submit');
        const myObjectListItems = document.querySelector('.my-object-list__items');
        const categoryMyObject = document.querySelector('.category__my-object');
        const categoryCansel = document.querySelector('.my-object-list__cansel');
        const objects = ['オブジェクト1', 'オブジェクト2', 'オブジェクト3', 'オブジェクト4', 'オブジェクト5', 'オブジェクト6', 'オブジェクト7', 'オブジェクト8', 'オブジェクト3', 'オブジェクト4', 'オブジェクト5', 'オブジェクト6', 'オブジェクト7', 'オブジェクト8'];

        //プラスボタンをクリックしたときにマイオブジェクト一覧を動的に生成する。
        addBtn.addEventListener('click', () => {
            modalList.innerHTML = '';
            modalTitle.innerText = 'マイオブジェクトから選択';
            objects.forEach(object => {
                const li = document.createElement('li');

                li.classList.add('my-object-list__item');
                //li.appendChild(document.createTextNode(object));
                modalList.appendChild(li);
            });
            //マイオブジェクト一覧のオブジェクトを選択したときにアコーディオンを表示する
            const items = document.querySelectorAll('.my-object-list__item');

            items.forEach(item => {
                item.addEventListener('click', () => {
                    categoryMyObject.classList.toggle('category-open');
                    myObjectListItems.classList.toggle('my-object-list__items--close');

                    if (categoryMyObject.classList.contains('category-open')) {
                        categoryMyObject.style.height = '80%';
                    } else {
                        categoryMyObject.style.height = 0;
                    }

                    if (myObjectListItems.classList.contains('my-object-list__items--close')) {
                        myObjectListItems.style.height = 0;
                    } else {
                        myObjectListItems.style.height = '80%';
                    }
                });
            });
            //マイオブジェクト一覧の"キャンセルボタン"を押したときの処理
            categoryCansel.addEventListener('click', () => {
                categoryMyObject.classList.remove('category-open');
                myObjectListItems.classList.remove('my-object-list__items--close');

                if (categoryMyObject.classList.contains('category-open')) {
                    categoryMyObject.style.height = '80%';
                } else {
                    categoryMyObject.style.height = 0;
                }

                if (myObjectListItems.classList.contains('my-object-list__items--close')) {
                    myObjectListItems.style.height = 0;
                } else {
                    myObjectListItems.style.height = '80%';
                }
            });
            //マイオブジェクト一覧の"マイオブジェクトを共有する"ボタンを押した時に起こる処理（サーバーに接続し、アップデート処理が必要）
            categorySubmit.addEventListener('click', () => {
                modal.classList.remove('open');
                categoryCansel.click();
            });
        });

        //マイオブジェクト一覧の"マイオブジェクトを選択"ボタンを押した時に起こる処理（サーバーに接続し、アップデート処理が必要）
        categorySubmit.addEventListener('click', () => {
            modal.classList.remove('open');
            categoryCansel.click();
        });
    </script>
</body>

</html>
