<div class="global-nav">
    <ul class="global-nav__list">
        <li class="global-nav__item"><a href="my-object.html">マイオブジェクト</a></li>
        <li class="global-nav__item"><a href="object-share.html">オブジェクト共有</a></li>
        <li class="global-nav__item"><a href="camera.html">カメラ</a></li>
        <li class="global-nav__item"><a href="my-page.html">マイページ</a></li>
        <li class="global-nav__item"><a href="clan.html">クラン</a></li>
    </ul>
</div>
<div class="hamburger" id="js-hamburger">
    <div class="hamburger__line hamburger__line--1"></div>
    <div class="hamburger__line hamburger__line--2"></div>
    <div class="hamburger__line hamburger__line--3"></div>
</div>
<div class="black-bg" id="js-black-bg"></div>

